<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express</title>
</head>
<body>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
    <h1>You're on the Contact Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas animi cum vitae porro sapiente eaque, laborum velit provident saepe doloribus quibusdam voluptatem consequuntur earum cumque repellat tenetur maiores cupiditate officiis!</p>
</body>
</html>